<div class="content">
  <h2>Вітаємо на сайті «WARdrobe»!</h2>
</div>
<div class="centeredtext">
  <h2>Ваші можливості:</h2>
  <ul>
    <li>Додавати нового військового (військову);</li>
    <li>Редагувати даних про військового (військову);</li>
    <li>Видаляти військового (військову) з підрозділу;</li>
    <li>Оформити запит на отримання спорядження;</li>
    <li>Заповнити форму зворотного зв’язку у разі, якщо на ваш запит на отримання спорядження тривалий час не
      надходить
      відповідь.</li>
  </ul>
</div>
<div class="column">
  <!--Картинка, посилання, шлях, папка -->
  <img src="../../../assets/Одяг.png">
  <h2>Одяг</h2>
  <p>Дозволяє визначити рід військ
    <br>і військове звання<br>
    військовослужбовця.
  </p>
</div>
<div class="column">
  <img src="../../../assets/Взуття.png">
  <!--Кsартинка, посилання, шлях, папка -->
  <h2>Взуття</h2>
  <p>
    Відрізняється підвищеною <br>
    міцністю і зносостійкістю,<br>
    має продуману конструкцію.
  </p>
</div>
<div class="column">
  <!--Картинка, посилання, шлях, папка -->
  <img src="../../../assets/Броня.png">
  <h2>Броня</h2>
  <p>
    Сукупність складових
    <br>екіпірування військовослужбовця<br>
    для ведення бойових дій.
  </p>
</div>