<div class="form-container">
  <h2>Форма на створення запиту</h2>
  <form>
    <label for="name">Ім'я:</label>
    <input type="text" id="name">
    <label for="lastname">Прізвище:</label>
    <input type="text" id="lastname">
    <label for="age">Вік:</label>
    <input type="text" id="age">
    <h3>Вкажіть потреби:</h3>
    <div class="checkbox-grid">
      <div>
        <input type="checkbox" name="vehicle1" value="Одяг">
        <label for="vehicle1">Одяг</label>
      </div>
      <div>
        <input type="checkbox" name="vehicle2" value="Шолом">
        <label for="vehicle2">Шолом</label>
      </div>
      <div>
        <input type="checkbox" name="vehicle3" value="Взуття">
        <label for="vehicle3">Взуття</label>
      </div>
      <div>
        <input type="checkbox" name="vehicle4" value="Бронежилет">
        <label for="vehicle4">Бронежилет</label>
      </div>
    </div>
    <button type="button">Створити запит</button>
  </form>
</div>