<div class="form-container">
  <h2>Форма “Додати військового”</h2>
  <form #form1="ngForm" (ngSubmit)="addSoldier(form1.value)">
    <input type="hidden" name="id" ngModel="-1">
    <label for="name">Ім'я:</label>
    <input type="text" id="name" ngModel>
    <label for="lastname">Прізвище:</label>
    <input type="text" id="lastname" ngModel>
    <label for="age">Вік:</label>
    <input type="text" id="age" ngModel>
    <label for="file">Фото:</label>
    <input type="text" id="file" name="file" multiple ngModel>
    <h3>Вкажіть потреби:</h3>
    <div class="checkbox-grid">
      <div>
        <input type="checkbox" name="vehicle1" value="Одяг" ngModel>
        <label for="vehicle1">Одяг</label>
      </div>
      <div>
        <input type="checkbox" name="vehicle2" value="Шолом" ngModel>
        <label for="vehicle2">Шолом</label>
      </div>
      <div>
        <input type="checkbox" name="vehicle3" value="Взуття" ngModel>
        <label for="vehicle3">Взуття</label>
      </div>
      <div>
        <input type="checkbox" name="vehicle4" value="Бронежилет" ngModel>
        <label for="vehicle4">Бронежилет</label>
      </div>
    </div>
    <button type="button">Додати</button>
  </form>
</div>